
<style>
  body{
    padding: 50px;
   background-image: url("https://i.pinimg.com/originals/b5/3b/fe/b53bfecf20eab2012dfa7a4f6017a814.jpg");
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  }
  h5{
    color: bisque
  }
  label{
    color: #ce844a !important;
    font-size: 20px  !important;
  }
input{
  color:#63894F !important;
}
span #status,h6{
  color: #637BAB !important;
}
</style>
<div class="row">
  <div id="login-container" class="pre-auth">
    <h5>This application requires access to your YouTube account. Please
    <a href="#" id="login-link">authorize</a> to continue.</h5>
  </div>
    <form class="col s10">
      <div class="row" id="buttons">
        <div class="input-field col s10">
          <input placeholder="Placeholder" id="Title" type="text" class="validate">
          <label for="Playlist Name">Playlist_Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10">
           <input id="Description"placeholder="Description"  type="text" class="validate">
          <label for="Description">Playlist Description</label>
        </div>
      </div>
      <a class="btn-floating  right btn-large waves-effect waves-light red" disabled id="playlist-button">Create Playlist</a>
      <div class="row">
        <div class="input-field col s10">
          <input id="playlist-id" type="text" name='playid' value='' placeholder="Playlist ID"  class="validate">
          <label for="PlaylistId">Current Playlist Id</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10">
          <input id="year" placeholder="Song Year"  type="number" name="year" class="validate">
          <label for="year">Year</label>
        </div>
      </div>
      {{!-- <div class="row">
     <div class="input-field col s10">
          <input  id="video-id" class="form-control" name='videoid' value="" class="validate">
          <label for="year">Year</label>
        </div>
      </div> --}}
      <a class="btn-floating right btn-large waves-effect waves-light red" id="Addvideo"><i class="material-icons">add</i>Add Songs to playlist</a>
    </form>
    <h5>Playlist:  </h5>
  <span id="playlist-title"></span>
  <p id="playlist-description"></p>
  <p id="playlist-Id"></p>
  <div id="playlist-container">
    <h6>
    <span id="status">No Videos</span></h6>
  </div>
  </div>
{{!--         
<div>
  
  </div>
  </br>
  <div id="login-container" class="pre-auth">
    <h4>This application requires access to your YouTube account. Please
    <a href="#" id="login-link">authorize</a> to continue.</h4>
  </div>
  <form>
    <div id="buttons">
      <div class="input-group">
        <span class="input-group-addon">Title</span>
        <input id="Title" type="text" class="form-control" name="title" placeholder="Give me a name..">
      </div>
    </br>
      <div class="input-group">
        <span class="input-group-addon">Playlist Description</span>
        <input id="Desciption" class="form-control" name="description" placeholder='Please be Speicific..' type="text" />
      </div>
    </br>
   
      <button type="button" class="btn btn-primary pull-right" id="playlist-button" disabled >Create a new Playlist</button>
  </br>
    </br>
      <div class="input-group">
        <span class="input-group-addon">Current Playlist Id</span>
        <input id="playlist-id" class="form-control"  name='playid' value='' placeholder='Enter your existing ID or Create a new playlist' type="text" />
      </div>
    </br>
    <div class="input-group">
      <span class="input-group-addon">Songs Year</span>
      <input id="year" class="form-control" name="year" placeholder='year wise top songs' type="text" />
    </div>
  </br>
      <div class="input-group">
        <span class="input-group-addon">Video Id</span>
        <input id="video-id" class="form-control" name='videoid' value='GZG9G5txtaE' type="text" />
      </div>
    </br>
      <button type="button" class="btn btn-primary pull-right" id="Addvideo">Add to current playlist</button>
    </div> --}}
  {{!-- </form> --}}
 

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="/js/index.js"></script> --}}
<script src="/js/auth.js"></script>
{{!-- <script src="/js/playlist_updates.js"></script> --}}
 <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>